{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="h1">{{ legend }}</div>
    
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Izmena podataka partnera</h5>
        </div>
        <div class="card-body">
            <form action="{{ url_for('partner.edit_partner', partner_id=partner.id) }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.name.label(class="form-label") }}
                            {{ form.name(class="form-control", required=true, value=partner.name) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.email.label(class="form-label") }}
                            {{ form.email(class="form-control", value=partner.email) }}
                        </div>
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.address.label(class="form-label") }}
                            {{ form.address(class="form-control", value=partner.address) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.city.label(class="form-label") }}
                            {{ form.city(class="form-control", value=partner.city) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.country.label(class="form-label") }}
                            {{ form.country(class="form-control", value=partner.country if partner.country else 'Srbija') }}
                        </div>
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.account_number.label(class="form-label") }}
                            {{ form.account_number(class="form-control", value=partner.account_number) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.phone_1.label(class="form-label") }}
                            {{ form.phone_1(class="form-control", value=partner.phone_1) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.phone_2.label(class="form-label") }}
                            {{ form.phone_2(class="form-control", value=partner.phone_2) }}
                        </div>
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.pib.label(class="form-label") }}
                            {{ form.pib(class="form-control", required=true, value=partner.pib, maxlength="9", pattern="[0-9]{9}") }}
                            <div class="form-text">PIB mora sadržati 9 cifara</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.mb.label(class="form-label") }}
                            {{ form.mb(class="form-control", required=true, value=partner.mb, maxlength="8", pattern="[0-9]{8}") }}
                            <div class="form-text">Matični broj mora sadržati 8 cifara</div>
                        </div>
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="form-check form-check-inline">
                            {{ form.customer(class="form-check-input", checked=partner.customer) }}
                            {{ form.customer.label(class="form-check-label") }}
                        </div>
                        <div class="form-check form-check-inline">
                            {{ form.supplier(class="form-check-input", checked=partner.supplier) }}
                            {{ form.supplier.label(class="form-check-label") }}
                        </div>
                        <div class="form-check form-check-inline">
                            {{ form.international(class="form-check-input", checked=partner.international) }}
                            {{ form.international.label(class="form-check-label") }}
                        </div>
                    </div>
                </div>
                
                <div class="row mt-4">
                    <div class="col-md-12">
                        <a href="{{ url_for('partner.partners') }}" class="btn btn-secondary">Odustani</a>
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
